/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 nov. 2016, 18:49:33
    Author     : olivier
*/

#footer {    
    text-align: center;
    background: rgb(16, 16, 16);
    color : rgb(157, 157, 157);
}

.navbar-default {
    background-color: rgb(16, 16, 16);
    border-color: rgb(16, 16, 16);
}