#messageUser{
  text-align: center;
  font-size: 20px;
}

#tableUser{
  
}

#recherche{
    width: 40%;
}

.wrapper{
    margin-top: 50px;
}

#content{
    padding-bottom: 60px;
}

.panel-primary {
    border-color: #000000;
    
}

#form_dateParution { display: none; }

.ui-datepicker-calendar { display: none; }